<section class = "container my-5">
    <form #loginForm="ngForm" (ngSubmit) = "getDataForm(loginForm)">
        <div class = "mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" class="form-control" placeholder="introduce tu email" name="email" ngModel>
        </div>

        <div class = "mb-2">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="introduce tu contraseña" name="password" ngModel>
        </div>
        
    </form>
</section>